<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/static/assets/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/static/assets/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/static/assets/css/style.css}">
  <title>Error</title>
</head>
<body>
<div class="container">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-lg-8">
      <div class="card border-0 shadow">
        <div class="card-body text-center p-4">
          <h1>Error Page</h1>
          <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. </p>
          <hr>
          <p>Go back to <a th:href="@{/login}" class="btn btn-success">Login</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>